@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h3>This is the website of the City Hall Of Craiova</h3>
    <br />
    <p>
        Primăria Municipiului Craiova este dedicată dezvoltării orașului și îmbunătățirii
        calității vieții cetățenilor. Oferim o gamă largă de servicii administrative, sociale și economice.
        Craiova este municipiul de reședință al județului Dolj, Oltenia, România, format din localitățile componente Craiova (reședința), Făcăi, Mofleni, Popoveni și Șimnicu de Jos, și din satele Cernele, Cernelele de Sus, Izvorul Rece și Rovine. Craiova este cel mai important centru cultural, istoric și economic al Olteniei. Conform recensământului din anul 2021 orașul avea o populație de 234.140 de locuitori.

        Orașul Craiova este situat pe râul Jiu, în centrul regiunii istorice Oltenia, într-o zonă de relief relativ joasă de câmpie (Câmpia Olteniei, parte din întinsa Câmpie Română). Altitudinea medie este de 101 m. Clima din Craiova este temperat-continentală de câmpie, cu puternice influențe venite dinspre Marea Mediterană datorită situării orașului în sudul României. Verile sunt lungi, călduroase și uscate, iar iernile blânde și scurte. Temperatura medie anuală este de 11-12° C.

        Pe teritoriul orașului se află lacurile Balta Craioviței și Izvorului
        <img src="http://www.monumenteoltenia.ro/wp-content/uploads/2015/11/Banca-Comertului-Primaria-Craiova-delcampe.net-1.jpg" class="img1" />
        <br><br /> <br>   
    </p>
   
</div>
